<h3></h3>
<div class="row">
  <div class = "col">
  </div>
  <div class = "col">
  </div>
  <div class="col">
    <center><div class="circle"><%= current_user.points %> Points Received</div></center>
  </div>
  <div class="col">
    <center><div class="circle"><%= current_user.rewards_earned %> Earned Rewards</div></center>
  </div>
  <div class = "col">
  </div>
  <div class = "col">
  </div>
</div>
<div class="row">
  <div class = "col">
  </div>
  <div class = "col-3">
    <h1>Rewards</h1>
    <p id="notice"><%= notice %></p>
  </div>
  <div class = "col">
  </div>
</div>
<div class="row">
  <div class="col-10">
  <% if current_user.is_admin == true %>
    <%= button_to 'New Reward', new_reward_path, :method => :get, class:"btn btn-primary new-reward" %>
  <% end %>
  <div class = "table-responsive bdr">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Reward</th>
          <th scope="col">Points Required</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @rewards.each do |reward| %>
          <tr>
            <td scope="row"><%= link_to reward.reward_name, reward, :method => :get %></td>
            <td><%= reward.reward_points %></td>
            <td>
              <div class="btn-group btn-group-xs mb-2 mb-md-0 btn-block">
                <%= button_to 'Redeem', redeem_reward_path(reward), :method => :get, class: "btn btn-secondary btn-circle" %>
                <% if current_user.is_admin == true %>
                  <%= button_to 'Edit', edit_reward_path(reward), :method => :get, class: "btn btn-outline-secondary btn-circle" %>
                  <%= button_to 'Delete', delete_reward_path(reward), :method => :get, class: "btn btn-secondary btn-circle" %>
                <% end %>
              </div>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if @rewardCheck.exists? == false %>
  <p>No Rewards Yet!</p>
  <% end %>


  </div>
 </div> 

<br>
<% if current_user.is_admin == true %>
<div class="row">
  <div class = "col">
  </div>
  <div class = "col-3">
    <h1>Awaiting Confirmation</h1>
  </div>
  <div class = "col">
  </div>
</div>

<div class="col-10">
  <div class = "table-responsive bdr">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Reward</th>
        <th scope="col">Date Redeemed</th>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">UIN</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @pending_rewards.each do |pending_reward| %>
        <tr>
          <td scope="row"><%= pending_reward.reward_name %></td>
          <td><%= pending_reward.created_at.to_time.strftime('%A, %B %d, %Y') %></td>
          <td><%= get_current_user_email pending_reward.UID %></td>
          <td><%= get_current_user_first_name pending_reward.UID %></td>
          <td><%= get_current_user_last_name pending_reward.UID %></td>  
          <td><%= pending_reward.UID %></td>
          <td>
            <div class="btn-group btn-group-xs mb-2 mb-md-0 btn-block">
              <%= button_to 'Confirm', confirm_reward_rewards_approval_list_path(:reward_id, pending_reward), :method => :get, class: "btn btn-secondary btn-circle" %>
              <%= button_to 'Delete', delete_reward_rewards_approval_list_path(:reward_id, pending_reward), :method => :get, class: "btn btn-outline-secondary btn-circle"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<br>

<% end %>

<div class="row">
  <div class = "col">
  </div>
  <div class = "col-3">
    <h1>Your Rewards</h1>
  </div>
  <div class = "col">
  </div>
</div>

<div class="col-10">
  <div class = "table-responsive bdr">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Reward</th>
        <th scope="col">Date Redeemed/Earned</th>
        <th scope="col">Status</th>
      </tr>
    </thead>

    <tbody>
      <% @pending_rewards.each do |pending_reward| %>
        <% if pending_reward.UID == current_user.UID %>
        <tr>
          <td scope="row"><%= pending_reward.reward_name %></td>
          <td><%= pending_reward.created_at.to_time.strftime('%A, %B %d, %Y') %></td>
          <td>Pending</td>
        </tr>
        <% end %>
      <% end %>
      <% @earned_rewards.each do |earned_reward| %>
        <% if earned_reward.UID == current_user.UID %>
        <tr>
          <td scope="row"><%= earned_reward.reward_name %></td>
          <td><%= earned_reward.created_at.to_time.strftime('%A, %B %d, %Y') %></td>
          <td>Earned</td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
  <% if @pending_rewards.exists? == false && @earned_rewards.exists? == false%>
  <p>No Rewards Yet!</p>
  <% end %>
</div>
<br>

