<p id="notice"><%= notice %></p>

<h1>Rewards Approval Lists</h1>

<table>
  <thead>
    <tr>
      <th>Reward name</th>
      <th>Uid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards_approval_lists.each do |rewards_approval_list| %>
      <tr>
        <td><%= rewards_approval_list.reward_name %></td>
        <td><%= rewards_approval_list.UID %></td>
        <td><%= link_to 'Show', rewards_approval_list %></td>
        <td><%= link_to 'Edit', edit_rewards_approval_list_path(rewards_approval_list) %></td>
        <td><%= link_to 'Destroy', rewards_approval_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rewards Approval List', new_rewards_approval_list_path %>
