<!DOCTYPE html>
<html>
  <head>
    <title>MEGSO-Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? == true and not current_page?(root_path) and not current_page?(signup_path)%>
      <%= render '/layouts/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
